.header
{
    height: 630px;
background-image: url(anh2.jpg);
background-position:center ;
background-attachment: fixed;
}
.header h1 
{
    color: #008888;
}
.dv1
{
   background-color: #339999 ;
   color: white;
   font-weight: bold;
   font-style: italic;
   margin: 20px;
}
.dv2
{
    color:#339999 ;
    margin: 20px;
}